@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');

/* font-family: 'Rubik', serif; Use for headers and footers */
/* font-family: 'Taviraj', serif; Use for section headers */
/* font-family: 'Cormorant Garamond', serif; Use for product titles */
/* font-family: 'Gentium Plus', serif; Use for product descriptions */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100%;
}

h1{
    padding-top: 5px;
    padding-left: 12px;
    font-size: 30px;
    z-index: 3;
}

.cartBody{
    background-color: white;
    margin-top: 12px !important;
}
body{
    background-color: white;
}

a {
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between; 
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Rubik', serif;
    position: sticky;
    top: 10px;
    background-color: white;
    border-radius: 500px;
    z-index: 3;
}


.nav-bar ul li {
    padding: 0px 25px;
    margin: 0;
    display: inline-block;
    font-size: 18px;
}

.nav-bar ul li a {
    color: black;
}

.nav-bar {
    display: unset; 
    margin-top: 10px;
    margin-bottom: 0px;
    padding-right: 8.7%;
    background-color: white;
}

header svg {
    margin-top: 9px;
    margin-right: 10px;
    margin-bottom: 3px;
    padding: 0px; 
}

header button {
    margin-top: 9px;
    margin-right: 10px;
    margin-bottom: 3px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.mobile-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inner-mobile-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none; 
    font-family: 'Rubik', serif;
}

.inner-mobile-list li a {
    color: black; 
}

.list-icon, .mobile-list, .inner-mobile-list, .inner-mobile-list li, .x-icon {
    display: none;
}

.hover-underline-animation{
    position: relative;
    color: black;
}
  
.hover-underline-animation::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.product-title{
    margin-top: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    text-align: center;
}

.description{
    font-family: 'Gentium Plus', serif;
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
}

.hover-enlarge-animation:hover {
    transition: transform 1s;
    -webkit-transform: scale(1);
    transform: scale(1.05);
}

.price-tag{
    font-size: 15px;
    color: #FF1E00;
    font-family: 'Taviraj', serif;
}


.hover-gray-animation:hover {
    transition: opacity 0.5s ease-in-out; 
    opacity: 0.7;
}

#landing-page1, #landing-page2, #landing-page3{
    padding-top: 10px;
    margin-top: 50px;
    margin-left: 16%;
    margin-right: 16%;
    height: 100vh; 
}

.landing-page-text{
    font-size: 40px;
    font-family: 'Taviraj', serif;
    text-align: center;
}

#featured, #desks, #beds{
    margin-top: 20px;
    padding-top: 50px;
    font-size: 25px;
    text-align:left;
    border-bottom: 1px solid black;
}


img{
    height: 270px;
    width: auto;
    
}

.row{
    margin-top: 2vh;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 25px;
    justify-content: center;
}

.row1{
    margin-top: 2vh;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 100px;
    justify-content: center;
}


.input{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 500px;
    max-width: 300px;
}

.input1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 500px;
    max-width: 300px;
}

#input1:hover{
    content: url("https://www.ikea.com/ca/en/images/products/micke-desk-white__0526706_pe645107_s5.jpg?f=s")
}

#input2:hover{
    content: url("https://www.ikea.com/ca/en/images/products/lagkapten-alex-desk-white__1013518_pe829230_s5.jpg?f=s")
}

#input3:hover{
    content: url("https://www.ikea.com/ca/en/images/products/micke-desk-white__0526946_pe645238_s5.jpg?f=s")
}

#input4:hover{
    content: url("https://www.ikea.com/ca/en/images/products/flekke-daybed-with-2-drawers-2-mattresses-black-brown-vannareid-firm__0767747_pe754245_s5.jpg?f=s")
}

#input5:hover{
    content: url("https://www.ikea.com/ca/en/images/products/hemnes-daybed-with-3-drawers-2-mattresses-black-brown-vannareid-medium-firm__0767748_pe754247_s5.jpg?f=s")
}

#input6:hover{
    content: url("https://www.ikea.com/ca/en/images/products/tufjord-upholstered-bed-frame-djuparp-dark-green__0932771_pe791617_s5.jpg?f=s")
}

#input7:hover{
    content: url("https://www.ikea.com/ca/en/images/products/malm-desk-white__0526708_pe645109_s5.jpg?f=s")
}

#input8:hover{
    content: url("https://www.ikea.com/ca/en/images/products/trotten-desk-sit-stand-white__1040267_pe840629_s5.jpg?f=s")
}

#input9:hover{
    content: url("https://www.ikea.com/ca/en/images/products/kallax-linnmon-desk-combination-white__1215327_pe911964_s5.jpg?f=s")
}

#input10:hover{
    content: url("https://www.ikea.com/ca/en/images/products/besta-burs-desk-high-gloss-white__0526857_pe645211_s5.jpg?f=s")
}

#input11:hover{
    content: url("https://www.ikea.com/ca/en/images/products/utespelare-gaming-desk-black__0997502_pe822689_s5.jpg?f=s")
}

#input12:hover{
    content: url("https://www.ikea.com/ca/en/images/products/idasen-desk-sit-stand-black-dark-gray__0685806_pe721491_s5.jpg?f=s")
}

#input13:hover{
    content: url("https://www.ikea.com/ca/en/images/products/brusali-desk-brown__0526864_pe645217_s5.jpg?f=s")
}

#input14:hover{
    content: url("https://www.ikea.com/ca/en/images/products/slattum-upholstered-bed-frame-knisa-light-gray__0747525_pe744571_s5.jpg?f=s")
}

#input15:hover{
    content: url("https://www.ikea.com/ca/en/images/products/malm-high-bed-frame-2-storage-boxes-black-brown-luroey__0722754_pe733713_s5.jpg?f=s")
}

#input16:hover{
    content: url("https://www.ikea.com/ca/en/images/products/askvoll-bed-frame-white__1163455_pe890183_s5.jpg?f=s")
}

#input17:hover{
    content: url("https://www.ikea.com/ca/en/images/products/blakullen-uph-bed-frame-with-corner-headboard-knisa-medium-blue__1012654_pe828949_s5.jpg?f=s")
}

#input18:hover{
    content: url("https://www.ikea.com/ca/en/images/products/gladstad-upholstered-bed-frame-kabusa-light-gray__1011835_pe828597_s5.jpg?f=s")
}

#input19:hover{
    content: url("https://www.ikea.com/ca/en/images/products/vadheim-upholstered-bed-frame-gunnared-light-green__0934564_pe792435_s5.jpg?f=s")
}

#input20:hover{
    content: url("https://www.ikea.com/ca/en/images/products/kleppstad-bed-frame-white-vissle-beige__1036672_pe838472_s5.jpg?f=s")
}




.flex-container{
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-bottom: 45px;
    width: 100vw;
    overflow: hidden;
    
}

.item1{
    position: relative;
    left: -50px;
    border-radius: 8px;
}

.item2{
    position: relative;
    right: 50px;
}

#eye-catcher-wrapper{
    display: grid;
    overflow: hidden;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 500px 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.eye-catcher{
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    text-align: left;
    padding-left: 60px;
    width: 100%;
}

.eye-catcher1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    text-align: right;
    padding-left: 10px;
}

.item3{
    border-radius: 8px;
    align-self: center;
}

#pushOver{
    margin-right: 20px;
}

#eye-catcher-wrapper-left{
    margin-top: 45px;
    display: grid;
    overflow-x: hidden;
    width: 100%;
    grid-template-columns: 1fr 1fr 500px 1fr 1fr 1fr;
    align-items: center;
    justify-items: right;
    
}

p{
    font-size: 25px;
    font-family: 'Gentium Plus', serif;
    text-align: center;
}

#eye-catcher-wrapper-middle{
    margin-top: 75px;
    display: grid;
    overflow-x: hidden;
    width: 100%;
    grid-template-columns: 800px 1fr 800px;
    column-gap: 25px;
    justify-items: center;
    margin-bottom: 10vh;
}

#eye-catcher-wrapper-middle p svg{
    -webkit-animation: hoverUpandDown 1s infinite linear;
    animation: hoverUpandDown 1s infinite linear;
    margin-top: 25px;
}

@-webkit-keyframes hoverUpandDown {
    0% { }
    50% { transform: translateY(-5px); }
    100% { }
}
@keyframes hoverUpandDown {
    0% { }
    50% { transform: translateY(-5px); }
    100% { }
}

.emphasis1{
    font-weight: 900;
    color: #C3ACD0;
}

.emphasis{
    font-style: italic;
    color: #C3ACD0;
    text-decoration: 3px underline;
}

#smallText{
    display: none;
}

/* CART.EJS */

.cart-box1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
}

.image1{
    height: 100px;
    width: auto;
}

/* Override js */
.image1:hover{
    opacity: 1;
}

.item-cart{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
    align-items: center; 
    width: 100%;
    gap: 50px;
    justify-content: center;
}

.product-title-cart{
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    opacity: 0.9;
    text-decoration: 1px underline;
}

.product-description-cart{
    font-family: 'Gentium Plus', serif;
    margin: 0;
    padding: 0;
    opacity: 1;
    text-decoration: none;
    font-size: 15px;
}

.sect-head{
    margin-top: 10vh;
    margin-right: 16%;
    margin-left: 16%;
    border-bottom: 1px solid black;
    font-family: 'Taviraj', serif;
    text-align: left;
}

.order-summary-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    margin-top: 10px;
    height: fit-content;
}

.order-summary-row{
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.small-text{
    font-family: 'Gentium Plus', serif;
    color: gray;
    font-size: 15px;
}

.small-price{
    font-family: 'Gentium Plus', serif;
    color: #FF1E00;
    font-size: 15px;
}

.order-product-name{
    font-size: 20px;
    font-family: 'Gentium Plus', serif;
    opacity: 0.9;
}

.order-product-price{
    font-size: 20px;
    color: #FF1E00;
    font-family: 'Gentium Plus', serif;
}

.order-summary-subtotal{
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    border-top: 3px solid black;
}

.order-product-subtotal{
    font-size: 25px;
    color: black;
    font-family: 'Gentium Plus', serif;

}


#checkout{
    color: white;
    font-family: 'Rubik', serif;
    font-size: 20px;
    border-radius: 99px;
    padding: 10px 10px;
    border: none;
    outline: inherit;
}

.addNavyColor{
    background-color: #191D88;
}

.addLightBlueColor{
    background-color: #C5DFF8; 
}

#checkout-wrapper{
    align-items: center;
    margin-top: 50px;
    display: flex;
    justify-content: right;
    padding-right: 20px;
    flex-direction: row;
    margin-bottom: 50px;
}

.order-subtotal-name{
    font-size: 25px;
    font-family: 'Gentium Plus', serif;
    color: black;
}

.compress{
    margin-left: 35%;
    margin-right: 35%;
}

.nav-bar1 {
    display: unset; 
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: white;
}

.nav-bar1 ul li {
    padding: 0px 25px;
    margin: 0;
    display: inline-block;
    font-size: 18px;
}

.nav-bar1 ul li a {
    color: black;
}

.minus{
    margin-right: 10px;
}

.add{
    margin-left: 10px;
}

.quantity-text{
    font-family: 'Taviraj', serif;
    font-size: 22px;
}

@media only screen and (max-width: 1300px){
    
    .cart-icon{
        display: none;
    }

    .nav-bar{
        display: none; 
    }

    .nav-bar1{
        display: none; 
    }

    .inner-mobile-list{
        list-style-type: none;
        text-align: center;
        font-size: large;
        margin: 15px 0;
        padding: 0;
        font-family: 'Rubik', serif;
    }

    .inner-mobile-list li{
        text-align: center;
        font-size: large;
        padding: 20px 0;
        font-family: 'Rubik', serif;
    }

    .inner-mobile-list li{
        display: block;
    }
    
    .list-icon, .mobile-list {
        display: unset;
    }

    header{
        margin-top: 10px;
        margin-right: 15%;
        position: inherit; 
    }

    #landing-page1{
        height: fit-content;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }

    #landing-page2{
        height: fit-content;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }

    #landing-page3{
        height: fit-content;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }
    
    #featured, #desks, #beds{
        margin-top: 20px;
        font-size: 25px;
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    } 

    .row{
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }

    .row1{
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }
    h1{
        padding-left: 0px;
        top: 10px;
        background-color: white;
        border-radius: 0px;
    }

    #featured{
        margin-top: 20px;
        font-size: 25px;
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }

    #desktop-landing{
        display: none;
    }
    
    .compress{
        margin: 0 10%;
    }

    .order-summary-box{
        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .sect-head{
        margin-top: 10vh;
        margin-right: 10%;
        margin-left: 10%;
        border-bottom: 1px solid black;
        font-family: 'Taviraj', serif;
        text-align: center;
    }
    
}

@media only screen and (max-width: 1890px){
    #eye-catcher-wrapper-left{
        grid-template-columns: 1fr 500px 1fr 1fr;
        justify-items: right;
    }
    .removeFirst{
        display: none !important;
    }
    
    #secondOff{
        border-radius: 8px;
    }

    .eye-catcher1{
        font-family: 'Cormorant Garamond', serif;
        font-size: 50px;
        text-align: right;
    }

    #eye-catcher-wrapper{
        display: grid;
        overflow: hidden;
        width: 100%;
        grid-template-columns: 1fr 1fr 300px 1fr;
        align-items: center;
        justify-items: center;
    }
    .eye-catcher1{
        font-family: 'Cormorant Garamond', serif;
        font-size: 50px;
        text-align: center;
    }

}

@media only screen and (max-width: 2090px){
    #eye-catcher-wrapper-middle{
        margin-top: 45px;
        display: grid;
        overflow-x: hidden;
        width: 100%;
        grid-template-columns: 500px 1fr 500px;
        padding-left: 100px;
        padding-right: 100px;
        column-gap: 15px;
        justify-items: center;
        margin-bottom: 10vh;
    }

    #smallText{
        display: unset;
        font-size: 30px; 
    }

    #bigText{
        display: none;
    }
}


@media only screen and (max-width: 1500px){

    .removeSecond{
        display: none;
    }

    #eye-catcher-wrapper-left{
        grid-template-columns: 1fr 500px 1fr;
        justify-items: right;
        padding-right: 100px;
    }

}

@media only screen and (max-width: 1370px){
    #eye-catcher-wrapper-middle{
        padding-right: 25px;
        padding-left: 25px;
    }

}

@media only screen and (max-width: 860px){
    .cart-box1{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
        height: fit-content;
    }

    .quantity-text{
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    .item-cart{
        flex-direction: column;
        gap: 50px;
    }

    .product-description-cart{
        text-align: left;
    }

}

/* font-family: 'Rubik', serif; Use for headers and footers */
/* font-family: 'Taviraj', serif; Use for section headers */
/* font-family: 'Cormorant Garamond', serif; Use for product titles */
/* font-family: 'Gentium Plus', serif; Use for product descriptions */