@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');

/* font-family: 'Rubik', serif; Use for headers and footers */
/* font-family: 'Taviraj', serif; Use for section headers */
/* font-family: 'Cormorant Garamond', serif; Use for product titles */
/* font-family: 'Gentium Plus', serif; Use for product descriptions */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100%;
}

h1{
    padding-top: 5px;
    padding-left: 12px;
    font-size: 30px;
    z-index: 3;
}

body{
    background-color: white;
}

a {
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between; 
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Rubik', serif;
    position: sticky;
    top: 10px;
    background-color: white;
    border-radius: 500px;
    z-index: 3;
}

.nav-bar ul li {
    padding: 0px 25px;
    margin: 0;
    display: inline-block;
    font-size: 18px;
}

.nav-bar ul li a {
    color: black;
}

.nav-bar {
    display: unset; 
    margin-top: 10px;
    margin-bottom: 0px;
    padding-right: 8.7%;
    background-color: white;
}

header svg {
    margin-top: 9px;
    margin-right: 10px;
    margin-bottom: 3px;
    padding: 0px; 
}

header button {
    margin-top: 9px;
    margin-right: 10px;
    margin-bottom: 3px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.mobile-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inner-mobile-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none; 
    font-family: 'Rubik', serif;
}

.inner-mobile-list li a {
    color: black; 
}

.list-icon, .mobile-list, .inner-mobile-list, .inner-mobile-list li, .x-icon {
    display: none;
}

.hover-underline-animation{
    position: relative;
    color: black;
}
  
.hover-underline-animation::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.product-title{
    margin-top: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    text-align: center;
}

.description{
    font-family: 'Gentium Plus', serif;
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
}

.hover-enlarge-animation:hover {
    transition: transform 1s;
    -webkit-transform: scale(1);
    transform: scale(1.05);
}

.hover-gray-animation:hover {
    transition: opacity 0.5s ease-in-out; 
    opacity: 0.7;
}

#landing-page{
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    height: 90vh; 
}

.landing-page-text{
    font-size: 40px;
    font-family: 'Taviraj', serif;
    text-align: center;
}

#featured{
    margin-top: 20px;
    font-size: 25px;
    text-align:left;
    border-bottom: 1px solid black;
}

img{
    height: 270px;
    width: auto;
    
}
.row{
    margin-top: 2vh;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 25px;
    justify-content: center;
}

.row1{
    margin-top: 2vh;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 100px;
    justify-content: center;
}


.input{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 500px;
    max-width: 300px;
}

.input1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 300px;
    max-width: 300px;
}


#input1:hover{
    content: url("https://www.ikea.com/ca/en/images/products/micke-desk-white__0526706_pe645107_s5.jpg?f=s")
}

#input2:hover{
    content: url("https://www.ikea.com/ca/en/images/products/lagkapten-alex-desk-white__1013518_pe829230_s5.jpg?f=s")
}

#input3:hover{
    content: url("https://www.ikea.com/ca/en/images/products/micke-desk-white__0526946_pe645238_s5.jpg?f=s")
}

#input4:hover{
    content: url("https://www.ikea.com/ca/en/images/products/flekke-daybed-with-2-drawers-2-mattresses-black-brown-vannareid-firm__0767747_pe754245_s5.jpg?f=s")
}

#input5:hover{
    content: url("https://www.ikea.com/ca/en/images/products/hemnes-daybed-with-3-drawers-2-mattresses-black-brown-vannareid-medium-firm__0767748_pe754247_s5.jpg?f=s")
}

#input6:hover{
    content: url("https://www.ikea.com/ca/en/images/products/tufjord-upholstered-bed-frame-djuparp-dark-green__0932771_pe791617_s5.jpg?f=s")
}

.flex-container{
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-bottom: 45px;
    width: 100vw;
    overflow: hidden;
    
}

.item1{
    position: relative;
    left: -50px;
    border-radius: 8px;
}

.item2{
    position: relative;
    right: 50px;
}

#eye-catcher-wrapper{
    display: grid;
    overflow: hidden;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 500px 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.eye-catcher{
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    text-align: left;
    padding-left: 60px;
    width: 100%;
}

.eye-catcher1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    text-align: right;
    padding-left: 10px;
}

.item3{
    border-radius: 8px;
    align-self: center;
}

#pushOver{
    margin-right: 20px;
}

#eye-catcher-wrapper-left{
    margin-top: 45px;
    display: grid;
    overflow-x: hidden;
    width: 100%;
    grid-template-columns: 1fr 1fr 500px 1fr 1fr 1fr;
    align-items: center;
    justify-items: right;
    
}

p{
    font-size: 25px;
    font-family: 'Gentium Plus', serif;
    text-align: center;
}

#eye-catcher-wrapper-middle{
    margin-top: 75px;
    display: grid;
    overflow-x: hidden;
    width: 100%;
    grid-template-columns: 800px 1fr 800px;
    column-gap: 25px;
    justify-items: center;
    margin-bottom: 10vh;
}

#eye-catcher-wrapper-middle p svg{
    -webkit-animation: hoverUpandDown 1s infinite linear;
    animation: hoverUpandDown 1s infinite linear;
    margin-top: 25px;
}

@-webkit-keyframes hoverUpandDown {
    0% { }
    50% { transform: translateY(-5px); }
    100% { }
}
@keyframes hoverUpandDown {
    0% { }
    50% { transform: translateY(-5px); }
    100% { }
}

.emphasis1{
    font-weight: 900;
    color: #C3ACD0;
}

.emphasis{
    font-style: italic;
    color: #C3ACD0;
    text-decoration: 3px underline;
}

#smallText{
    display: none;
}

@media only screen and (max-width: 1250px){
    
    .cart-icon{
        display: none;
    }

    .nav-bar{
        display: none; 
    }

    .inner-mobile-list{
        list-style-type: none;
        text-align: center;
        font-size: large;
        margin: 15px 0;
        padding: 0;
        font-family: 'Rubik', serif;
    }

    .inner-mobile-list li{
        text-align: center;
        font-size: large;
        padding: 20px 0;
        font-family: 'Rubik', serif;
    }

    .inner-mobile-list li{
        display: block;
    }
    
    .list-icon, .mobile-list {
        display: unset;
    }

    header{
        margin-top: 10px;
        margin-right: 15%;
        position: inherit; 
    }

    #landing-page{
        height: 100vh;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;

    }

    .row{
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }
    .row1{
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }
    h1{
        padding-left: 0px;
        top: 10px;
        background-color: white;
        border-radius: 0px;
    }

    #featured{
        margin-top: 20px;
        font-size: 25px;
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }

    #desktop-landing{
        display: none;
    }
    
    
}

@media only screen and (max-width: 1890px){
    #eye-catcher-wrapper-left{
        grid-template-columns: 1fr 500px 1fr 1fr;
        justify-items: right;
    }
    .removeFirst{
        display: none !important;
    }
    
    #secondOff{
        border-radius: 8px;
    }

    .eye-catcher1{
        font-family: 'Cormorant Garamond', serif;
        font-size: 50px;
        text-align: right;
    }

    #eye-catcher-wrapper{
        display: grid;
        overflow: hidden;
        width: 100%;
        grid-template-columns: 1fr 1fr 300px 1fr;
        align-items: center;
        justify-items: center;
    }
    .eye-catcher1{
        font-family: 'Cormorant Garamond', serif;
        font-size: 50px;
        text-align: center;
    }

}

@media only screen and (max-width: 2090px){
    #eye-catcher-wrapper-middle{
        margin-top: 45px;
        display: grid;
        overflow-x: hidden;
        width: 100%;
        grid-template-columns: 500px 1fr 500px;
        padding-left: 100px;
        padding-right: 100px;
        column-gap: 15px;
        justify-items: center;
        margin-bottom: 10vh;
    }

    #smallText{
        display: unset;
        font-size: 30px; 
    }

    #bigText{
        display: none;
    }

}


@media only screen and (max-width: 1500px){

    .removeSecond{
        display: none;
    }

    #eye-catcher-wrapper-left{
        grid-template-columns: 1fr 500px 1fr;
        justify-items: right;
        padding-right: 100px;
    }

}

@media only screen and (max-width: 1370px){
    #eye-catcher-wrapper-middle{
        padding-right: 25px;
        padding-left: 25px;
    }
}